doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Just a simple Node + Express app
    link(rel='stylesheet', href='./style.css')
  body
    #container
      h1 Welcome to APAC pipeline Support Team...
      h1 #{date}
      a(href="https://www.distelli.com" target="_blank") This is built and Deployed by Distelli
